.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-bottom: 1px solid #eaeaea;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .task-item.completed {
    background-color: #d4edda;
  }
  
  .task-left {
    display: flex;
    align-items: center;
  }
  
  .task-left input {
    margin-right: 10px;
  }
  
  .task-details {
    display: flex;
    flex-direction: column;
  }
  
  .task-summary {
    font-size: 0.9em;
    color: #555;
  }
  
  .task-item-error {
    color: red;
    padding: 10px;
  }
  .task-title {
    margin-left: 10px;
  }